<!DOCTYPE html>
<html lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title><%= site.title %></title>
        <!-- Bootstrap CSS -->
        <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <!-- Compiler CSS -->
        <link href="/compiler_components/css/style.css" rel="stylesheet">
        <script>document.addEventListener("contextmenu",function(e){e.preventDefault()},!1);</script>
    </head>
    <body oncopy="return false" onpaste="return false" oncut="return false">