<div class="preloader">
    <div class="text-center icon">
        <i class="glyphicon glyphicon-fire" style="font-size: 60px;"></i>
        <div class="loading center">
            <div class="loading-bar"></div>
        </div>
    </div>
</div>
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" style="font-weight:bold;color:white;"><%= site.title %></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
            <li><a href="/" style="color:white;"><i class="glyphicon glyphicon-home"></i> Home</a></li>
            <li><a href="/playground" style="color:white;"><i class="glyphicon glyphicon-console"></i> Playground</a></li>
            <li><a href="/discuss" style="color:white;"><i class="glyphicon glyphicon-bell"></i> Discuss</a></li>
            <li><a data-toggle="modal" href="#languages-list" style="color:white;"><i class="glyphicon glyphicon-tasks"></i> Languages</a></li>
            <li><a data-toggle="modal" href="#dev_team" style="color:white;"><i class="glyphicon glyphicon-fire"></i> About</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#" style="color:white;"><i class="glyphicon glyphicon-user"></i> <%= user.username %></a></li>
            <li style="padding-right:20px;"><a href="/accounts/logout" style="color:white;"><i class="glyphicon glyphicon-log-out"></i> Logout</a></li>
        </ul>
    </div><!-- /.navbar-collapse -->
</nav>
<div class="modal fade" id="languages-list">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Languages Available</h4>
            </div>
            <div class="modal-body" id="langs">
                <ul class="list-group" style="border: 0px solid white !important;">
                    <li class="list-group-item" style="border: 0px solid white !important;" >
                        <span class="badge">OK</span>
                        C
                    </li>
                    <li class="list-group-item" style="border: 0px solid white !important;">
                        <span class="badge">OK</span>
                        C++
                    </li>
                    <li class="list-group-item" style="border: 0px solid white !important;">
                        <span class="badge">OK</span>
                        JAVA
                    </li>
                    <li class="list-group-item" style="border: 0px solid white !important;">
                        <span class="badge">OK</span>
                        PYTHON3.5
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<div class="modal fade" id="dev_team">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title text-warning">Changelog</h4>
            </div>
            <div class="modal-body">
                <h4 class="text-center text-danger"><marquee><i class="glyphicon glyphicon-star"></i> Developed by Code Lordz <i class="glyphicon glyphicon-star"></i></marquee></h4>
                <h4 class="text-center text-primary"><span style="cursor:pointer;" onclick='window.open("http://codelordz.github.io","_blank")'>WEBSITE</span></h5>
                <h5 class="text-center text-success"><i class="glyphicon glyphicon-heart"></i> <i class="glyphicon glyphicon-heart"></i> <i class="glyphicon glyphicon-heart"></i> <i class="glyphicon glyphicon-heart"></i> <i class="glyphicon glyphicon-heart"></i> <i class="glyphicon glyphicon-heart"></i> <i class="glyphicon glyphicon-heart"></i> <i class="glyphicon glyphicon-heart"></i> <i class="glyphicon glyphicon-heart"></i> <i class="glyphicon glyphicon-heart"></i> <i class="glyphicon glyphicon-heart"></i><br><br></h5>
                <h4><br>Version: 1.0.2<br><small>05/11/2017</small></h4><hr>
                <h5><i class="glyphicon glyphicon-hand-right"></i> Added save code in playground.</h5>
                <h5><i class="glyphicon glyphicon-hand-right"></i> Added reset code that shows the last saved code in playground.</h5>
                <h5><i class="glyphicon glyphicon-hand-right"></i> You can now start discussions and add solutions.</h5>
                <h5><i class="glyphicon glyphicon-hand-right"></i> Output after the execution of code can be printed in nice format.</h5>
                <h5><i class="glyphicon glyphicon-hand-right"></i> Preloader added to authenticated pages.</h5>
                <h5><i class="glyphicon glyphicon-hand-right"></i> Alert users when network connection fails.</h5>
                <h5><i class="glyphicon glyphicon-hand-right"></i> Fixed some minor bugs and reduced loading time.</h5>
                <h5 class="text-warning text-right"><br><i class="glyphicon glyphicon-alert"></i> Find any bugs contact: +91-9597264229.</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-sm" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
