<% include layouts/header %>
    <% include layouts/navbar %>
    <div class="container-fluid top-container">
        <div class="row text-center">
            <img src="/icon.png" class="img-logo"/>
            <h1 class="text-center welcome"><%= site.title %></h1>
            <h5 class="text-center quote hidden-xs"><%= site.description %></h5>
        </div>
    </div>
<% include layouts/javascripts %>
<% include layouts/footer %>
