<% include layouts/header %>

    <div class="container-fluid welcome_container">
        <div class="row register">
            <div class="col-lg-4 col-md-4 col-sm-4 col-lg-offset-4 col-sm-offset-4 col-md-offset-4">
                <%if (error.length > 0) {%>
                <div class="alert alert-danger">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <strong><%= error %></strong>
                </div>
                <% } %>
                <form action="/accounts/register" method="POST" role="form" class="login-form">
                    <legend class="text-center">New to CodeLordz</legend>
                    <br>
                    <div class="group">      
                        <input type="text" required="" name="username" style="background: transparent;"  onkeyup="return forceUpper(this);" maxlength="9">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Register Number</label>
                    </div>

                    <div class="group">      
                        <input type="text" required="" name="name" style="background: transparent;"  onkeyup="return forceUpper(this);">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>FullName</label>
                    </div>

                    <div class="group">      
                        <input type="email" required="" name="email" style="background: transparent;">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>College Email</label>
                    </div>

                    <div class="group">      
                        <input type="password" required="" name="password" style="background: transparent;" minlength="8">
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Password</label>
                    </div>
                    <br>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Register</button>
                        <a class="btn btn-danger" href="/accounts/login">Login</a>
                    </div>

                    <script>
                        function forceUpper(input){
                            input.value = input.value.toUpperCase();
                        }

                        function forceLower(input){
                            input.value = input.value.toLowerCase();
                        }
                    </script>

                </form>
                                
            </div>
        </div>
    </div>
    <div class="count-down text-right" id="count">1000</div>
<% include layouts/javascripts %>
    <script type="text/javascript">
        $.get('/accounts/count', function(data, status){
            var dt = ('0000'+ data).substring(data.length);
            $("#count").html(dt);
        });
        $('form').submit(function(){
            $("button[type='submit']").attr('disabled', 'disabled');
            $("button[type='submit']").html('Creating  User...');
        });
    </script>
<% include layouts/footer %>
