@font-face {
    font-family: "Source Code Pro";
    src: url("/compiler_components/fonts/SourceCodePro-Medium.ttf");
}

body{
    font-family: 'Source Code Pro';
}

.welcome_container{
    height: 100vh;
    padding-top: 5px;
}

.links > a{
    font-size: 17px;
    color: black;
    margin-left: 20px;
}

.links > a:hover{
    font-size: 17px;
    color:black;
    text-decoration: unset;
}

.login{
    margin-top: 60px;
}
.login-form{
    padding: 40px;
}

.login-form > legend{
    border: 0px solid white;
    padding-bottom: 30px;
    font-weight: bolder;
}

.register{
    margin-top: 15px;
}

.navbar-inverse{
    background: rebeccapurple !important;
    border: 0px solid rebeccapurple;
}

.top-container{
    padding-top: 140px;
    background: rebeccapurple !important;
    height: 100vh
}

.top-2{
    padding-top: 70px;
    background: rebeccapurple !important;
    height: 100vh;
}

.welcome{
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bolder;
    padding-top: 10px;
    color: white;
}

.quote{
    color: white;
    font-size: 21px;
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: center;
    line-height: 35px;
    position: absolute;
    bottom: 0px;
}

.img-logo{
    height: 200px;
}

#editor{
    height: 67vh;
    border-right: 1px solid white;
    font-family: 'Source Code Pro', monospace !important;
}

.white_label{
    color: white;
}

.white_head{
    color: white;
    margin-top: -5px !important;
    font-weight: bold;
    margin-bottom: 20px;
}

.discuss{
    padding-top:100px;
}

.preloader{
    background: rgb(216, 214, 214);
    height: 100vh;
    position: fixed;
    width: 100vw;
    z-index: 9999;
}

.preloader > .icon{
    margin-top: 14%;
    color: rgb(3, 51, 97);
}

.loading {
    background-color: white;
    height: 2px;
    margin: 1em;
    overflow: hidden;
    position: relative;
    width: 12em;
}

.loading-bar {
    animation: side2side 2s ease-in-out infinite;
    background-color: dodgerblue;
    height: 100%;
    position: absolute;
    width: 50%;
}

@keyframes side2side {
    0%, 100% { transform: translateX(-50%); }
    50%      { transform: translateX(150%); }
}

.center {
    left: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

